<p style="color: green"><%= notice %></p>

<% content_for :title, "Incomes" %>

<h1>Incomes</h1>

<div id="incomes">
  <% if @incomes.any? %>
    <p>There are <%= @incomes.count %> incomes.</p>
    <% @incomes.each do |income| %>
      <%= render income %>
      <p>
        <%= link_to "Show this income", income %>
      </p>
    <% end %>
  <% else %>
    <p>No incomes found.</p>
  <% end %>
 
</div>

<%= link_to "New income", new_income_path %>
